.div {
width: 100%;
background-color : blue;
display:flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
flex-grow:inherit ;
font-family: 'Courier New', Courier, monospace;
font-size: 16px;
font-weight: 500;


}